.top-left{
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid ;
    background-color: black;
    color: white;
    
}
.top-right{
    position: absolute;
    top: 30px;
    right: 0;
    border: 1px solid ;
    background-color: black;
    color: white;
}
.bottom-left{
    position: absolute;
    bottom: 20px;
    left: 0;
    border: 1px solid ;
    background-color: black;
    color: white;
}
.bottom-right{
    position: absolute;
    bottom: 20px;
    right: 0;
    border: 1px solid ;
    background-color: black;
    color: white;
}
.center{
    position: absolute;
    top: 50%;
    left: 45%;
    /* width: 200px;
    height: 200px;
    border: 1px solid; */
}
.allwidthHight{
    width: 200px;
    height: 200px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}